<div class="row-fluid">
	<% if !@page.parent_id.nil? || @page.children.any? %>
		<% show_sidebar = true %>
	<% end %>
	<% if show_sidebar %>
		<div class='span4 well well-small'>
			<!-- this sidebar things could be modularized -->
			<!-- adjacent pages -->
			<div id='sidebar'>
				<%= render :partial => '/refinery/pages/sidebar', :locals => {:page => @page} %>
			</div>
		</div>
	<% end %>
	<div class="<%= show_sidebar ? 'span8' : 'span12' %>">
		<%= render :partial => '/refinery/widgets/gallery', :locals => {:page => @page} %>
		<%= render '/refinery/content_page' %>
	</div>
</div>