<% if @tags && @tags.any? %>
  <hr class='dashed'>
  <h4 class='title grey'><i class="icon icon-tags"></i> <%= t('.title') %></h4>
  <nav id='tags'>
    <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
	    <%= link_to refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => css_class do %>
	      <span class='label'>
	 		   	<%= "#{tag.name}" %>
		      <span class='badge'>
			      <%= "#{tag.count}" %>
		      </span>
	      </span>
      <% end %>
    <% end %>
  </nav>
<% end %>