<div class='row-fluid'>
	<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		<a class="addthis_counter addthis_pill_style"></a>
	</div>
</div>
<%= render_content_page(@page, {
  :hide_sections => local_assigns[:hide_sections],
  :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
}) %>
<%= render '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
<% %>