<div class="container">
	<div class='row-fluid'>
		<%= link_to refinery.root_path do %>
			<div id='logo' alt='<%= Refinery::Core.site_name %>'>
			</div>
		<% end %>
		<!-- this following div should be of div#main-menu, but that has a conflict... -->
		<div id='not-main-menu'>
			<div class="navbar navbar-inverse">
			  <div class="navbar-inner">
			    <div class="container">
			      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
			      </a>
				    <%= render(:partial => "/refinery/menu", :locals => {
				    	:dom_id => 'menu',
							:css => 'menu'
						}) %>
			      <div class='pull-right'>
			      </div>
			    </div>
			  </div>
			</div>  
		</div>
	</div>
</div>