<div id="slider" class="clearfix">
  <div id="latest_work">
    <div class="container">
      <div class="margin-top-15 margin-bottom-30">
        <div class="flexslider">
          <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1200%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(0px, 0, 0);">
<% Refinery::Blog::Post.recent(6).each do |blog_post| %>
  <li style="width: 292px; float: left; display: block;">
    <div class="work img-polaroid">
      <div class="work-item">
        <% if blog_post.images.any? %>
          <%= image_tag blog_post.images.first.thumbnail("600x300#c").url, alt: blog_post.title %>
        <% else %>
          <img src="/assets/work1.jpg" alt="men shaking hands" />
        <% end %>
      </div>
      <div class="desc">
      <%#= blog_post.as_json.keys %>
      <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %> 
      </div>                  
    </div>
  </li> 
<% end %>
              </ul>
</div>
<ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a>
</li>
<li><a>2</a>
</li>
</ol>
</div>  
            
          </div>
        </div>
      </div>
          
    </div>